{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "globals": {
    "module": false
},
  "env": {
    "node": true,
    "jest": true
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:node/recommended"
  ],
  "rules": {
    "node/no-missing-import": ["error", {
        "allowModules": [],
        "resolvePaths": ["/path/to/a/modules/directory"],
        "tryExtensions": [".js", ".ts", ".json", ".node"]
    }],
    "node/shebang": "off"
}
}